<%= form_with(model: error_log) do |form| %>
  <% if error_log.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(error_log.errors.count, "error") %> prohibited this error log from being saved:</h4>
      <ul>
        <% error_log.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :error_type, class: "form-label" %>
    <%= form.text_field :error_type, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :message, class: "form-label" %>
    <%= form.text_area :message, rows: 4, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :backtrace, class: "form-label" %>
    <%= form.text_area :backtrace, rows: 8, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
