<div id="<%= dom_id facebook_sync %>">
  <p>
    <strong>Table name:</strong>
    <%= facebook_sync.table_name %>
  </p>

  <p>
    <strong>Event name:</strong>
    <%= facebook_sync.event_name %>
  </p>

  <p>
    <strong>Event value:</strong>
    <%= facebook_sync.event_value %>
  </p>

  <p>
    <strong>Last counter:</strong>
    <%= facebook_sync.last_counter %>
  </p>

</div>
